<a href="https://colab.research.google.com/github/ridwanmd/CEE_676_Python_Lecture/blob/main/ReferenceModules/01_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Credits

This repository is based on **CEE_676_Python_Lecture** by [ArlexMR](https://github.com/ArlexMR).Full credit goes to ArlexMR for the original materials.I have only made minor modifications for my use.

# I. Introduction

**What is Python and why use notebooks**?

Python is a popular <font color="#0b3d91">**programming language**</font>.
It was created by Guido van Rossum, and released in 1991.



![Picture1.jpg]()

It is used for:
•	web development (server-side),
•	software development,
•	mathematics,
•	system scripting.
•	scientiﬁc computing and data analysis
•	Python has a <font color="#0b3d91">**simple syntax similar to the English language**</font>.
•	This syntax that allows developers to write programs with fewer lines than some other programming languages.


**Why Python for Hydrology?**
Many of the analyses conducted in this notebook can be completed in Excel. You will see, however, that several functions that have already been written in python are very powerful, and can directly be applied to data science in hydrology. While there is a learning curve, there is also a large amount of tools that can be accessed via python and R that aren't accessible through excel.

These notebooks are designed to give you a very basic overview of computer coding in python to conduct analyses of hydrologic data.

A notebook is an interactive, "live" document, where you can describe the code you are creating, run the code, and analyze the outputs.

Notebooks, including Google Collab, Jupyter Notebooks, and RNotebooks, are becoming increasingly popular in engineering and data science for creating reproduceable and efficicent code.




# Notebook 1

This notebook goes over the very basic operations that can be completed in python.

# II. Variables and assignment

Variables are essentially names that **refer to values**.
In Python,
variables are defined using the symbol `=`

In [45]:
my_variable = 1

you can show the content* of a variable just by writing its name:

**Actually variables are **not containers but pointers** that **point to a speciﬁc piece of data** in your computer's memory. See below

In [46]:
my_variable

1

but it only works if it's placed in the last line:

In [47]:
my_variable
another_variable = 2

A prefered and more versatile way for showing information is using the *function* `print()`

A *function* is a process which takes in a variable, and outputs something new.

In [48]:
print(my_variable)
latest_variable = 3
print(latest_variable)

1
3

# Updating Variables and Comments

Often times computer programs will write in **short hand notations**. There are multiple reasons for this (i.e., iterating through a list, compacting code, etc).

Using a "#" we can write in comments, basically telling the user what the lines of code are doing.

In [49]:
# Updating a variable
x = 10
x += 5 # equivalent to x = x + 5
x

15

In [50]:
x = 10
x *= 3 # x = x*3
x

30

# III. Data Types

 In Python, every piece of data has a type. A data type
tells Python what kind of value a variable is holding (e.g., text, numbers, numbers with decimals, TRUE/FALSE statements, etc.)

Category | Data types
--|--
Text Type: | str
Numeric Types: |	int, float, complex
Boolean Type:	| bool
Sequence Types: |	list, tuple, range
Mapping Type:	| dict
Set Types:	| set, frozenset
Binary Types:	| bytes, bytearray, memoryview
None Type:	| NoneType

Python has several built-in data types. We can always check the type of any variable using the `type()` function.

## **A**. Strings, numeric and boolean

First, Strings, or `str`. These are **used for text**. You can deﬁne a string using either single quotes ( 'Hello World!' ) or double quotes ( "Goodbye world!" ). Both work identically.

In [51]:
# Text type variables
my_text = 'Hello World!' # string
another_text = "Goodbye world!" # string (double quotes)

print('Text variables: \n') # newline character. It tells Python: “after printing this text, move the cursor to the next line.”
print('my_text is a:', type(my_text))
print('another_text is a:',type(another_text))

Text variables:

my_text is a: <class 'str'>
another_text is a: <class 'str'>

Next, Numeric Types. We have `int` for integers (whole numbers like 5), `ﬂoat` for ﬂoating-point numbers (numbers with decimals like 5.0), and `complex` for complex numbers (like 3j + 5 ).

In [52]:
# Numeric Type Variables
my_integer = 5
my_float = 5.
my_complex = 3j +5

print('Numeric type variables: \n')

print('my_integer is a', type(my_integer), )

print('my_float is a', type(my_float))

print('my_complex is a', type(my_complex), 'equal to:', my_complex)

Numeric type variables:

my_integer is a <class 'int'>
my_float is a <class 'float'>
my_complex is a <class 'complex'> equal to: (5+3j)

In [53]:
# Boolean data types
my_true_bool = True
my_false_bool = False

print('Boolean type variables: \n')
print('my_true_bool is a', type(my_true_bool))
print('my_false_bool is a', type(my_false_bool))

Boolean type variables:

my_true_bool is a <class 'bool'>
my_false_bool is a <class 'bool'>

Finally, Boolean Types, or `bool` . These represent truth values: True or False . Notice the capital 'T' and 'F' ‒Python is case-sensitive.

## **B**. Sequence Data Types

Sequence data types, which are collections of items. The most common ones are lists, tuples, and ranges

Lists are ordered collections of items, enclosed in square brackets `[]` . They are incredibly versatile because they are mutable, meaning you can change, add, or remove elements after the list has been created.

Tuples are also ordered collections, but they are enclosed in parentheses `()` . The key diﬀerence is that tuples are immutable, meaning once a tuple is created, its contents cannot be changed.

Ranges are immutable sequences of numbers, often used in loops. They are created using the range `()` function.

In [54]:
# Sequence data types:

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1,6)

print('my_list is a', type(my_list), 'equal to:', my_list )
print('my_tuple is a', type(my_tuple), 'equal to:', my_tuple )
print('my_range is a', type(my_range), 'equal to:', my_range )

my_list is a <class 'list'> equal to: [1, 2, 3, 4, 5]
my_tuple is a <class 'tuple'> equal to: (1, 2, 3, 4, 5)
my_range is a <class 'range'> equal to: range(1, 6)

Elements can be accessed using `[ ]`:  
**IMPORTANT:** Python uses **zero-based indexing** which means that the first element has index `0`, the second element has index `1`, and so on. You can also use negative indexing: `-1` refers to the last element, `-2` to the second to last, and so forth.

In [55]:
first_element = my_list[0]
print('First element:',first_element) #list

print('Second element:',my_tuple[1]) # tuple
print('Third element:',my_range[2]) # range

print('last element:', my_list[-1]) # list
print('penultimate',my_tuple[-2]) # tuple
print('Last element in range',my_range[-1]) # range

First element: 1
Second element: 2
Third element: 3
last element: 5
penultimate 4
Last element in range 5

### Slicing sequences
Slicing is used for extracting a portion of a sequence:
```python  
my_list[start:stop]
```
This will extract a sequence corresponding to the interval: `[start, stop)` being `start` and `stop` indexes  

Another function, *range* will automatically create an array of numbers between a specified start and stop at a specified interval.

In [56]:
a_range = range(0, 100, 10) # start, stop, step
my_list = list(a_range)
print(my_list)

my_list[2:4] # Take elements at index 2 and 3

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[20, 30]


If `start/stop` are omitted the slicing will go from/to the first/last element

In [57]:
print(my_list)
my_list[:4]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[0, 10, 20, 30]

In [58]:
print(my_list)
my_list[4:]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[40, 50, 60, 70, 80, 90]

In [59]:
print(my_list)
my_list[4:-1]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[40, 50, 60, 70, 80]

A `step` can also be included within your slice:  

```python
my_list[start:stop:step]
```

In [60]:
print(my_list)
my_list[2:6:2]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[20, 40]

This is a nice way to invert the order of elements

In [61]:
print(my_list)
my_list[::-1]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

Out-of-range **slicing** are permitted

In [62]:
len(my_list) # used to find out the length of the list, i.e., how many items it contains

10

In [63]:
print(my_list)
my_list[9:20]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[90]

In [64]:
print(my_list)
my_list[10:20]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[]

But not so with out-of-range **indexes**

In [65]:
print(my_list)
my_list[10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

IndexError: list index out of range

Indexing also works with strings

In [66]:
text = 'abcd efghi'
print(text)
print(text[0:4])
print(text[4:7])

abcd efghi
abcd
 ef

### Slice assignment

For lists, you can also use slice assignment to change multiple elements at once or even change the size of the list

In [67]:
my_list  = [0, 10, 20, 30, 40, 50, 60]
print(my_list)
my_list[1] = 1000
my_list

[0, 10, 20, 30, 40, 50, 60]

[0, 1000, 20, 30, 40, 50, 60]

In [69]:

my_list[2:5] = [2000, 3000, 4000]
my_list

[0, 1000, 2000, 3000, 4000, 50, 60]

In [70]:

my_list[2:5] = [-1] # elements at index 2, 3, 4 → [20, 30, 40] replace that entire slice with just [-1].
my_list

[0, 1000, -1, 50, 60]

Lists and tuples can store a mixture of elements:

In [71]:
a_mixed_list = [my_float, my_text, my_integer, my_tuple, my_range, my_list]
print("a_mixed_list: ", a_mixed_list)

print("a_mixed_list[3]: ",a_mixed_list[3])

print("a_mixed_list[3][1]: ",a_mixed_list[3][1])

print("a_mixed_list[2:4]: ",a_mixed_list[2:4])

a_mixed_list:  [5.0, 'Hello World!', 5, (1, 2, 3, 4, 5), range(1, 6), [0, 1000, -1, 50, 60]]
a_mixed_list[3]:  (1, 2, 3, 4, 5)
a_mixed_list[3][1]:  2
a_mixed_list[2:4]:  [5, (1, 2, 3, 4, 5)]

In [72]:
another_tuple = (my_float, my_text, my_integer, my_tuple, my_range)
another_tuple

(5.0, 'Hello World!', 5, (1, 2, 3, 4, 5), range(1, 6))

So, What's the difference between tuples and lists? Look:

In [73]:
my_list  = [0, 10, 20, 30, 40, 50, 60]
print(my_list)
my_list[1] = 1000
my_list

[0, 10, 20, 30, 40, 50, 60]

[0, 1000, 20, 30, 40, 50, 60]

In [74]:
my_tuple = (0, 10, 20, 30, 40, 50, 60)
my_tuple[1] = 1000

TypeError: 'tuple' object does not support item assignment

Tuples are immutable elements. That is, its content can NOT be changed

**WARNING:**
In general, variable names in python are pointers instead of containers, which means that they don't actually store the data, but points to the bucket where data is stored. As a consequence, if you have two variables pointing to the same bucket (piece of data) and change one of them, the other may change:

In [75]:
x = [0,1,2]
y = x
x[2] = 999 # Changing only x
print('x: ', x)
print('y: ', y, 'also changed!')

x:  [0, 1, 999]
y:  [0, 1, 999] also changed!

Note, this some languages are impacted by this, some aren't. For example, in R y would remain [0, 1, 2].

Also, with certain data types you don't see this behavior:

In [ ]:
x = 1
y = x
print('x: ', x)
print('y: ', y)

x = 'Hello world!'

print('x: ', x)
print("y didn't changed:", y )

#C. Mapping Data Type

## Dictionaries
Unlike lists/tuples (which use numeric indexes), dictionaries let you store and retrieve data using meaningful keys.
```python
student = {"name": "Alice", "age": 21, "grade": "A"}
print(student["name"])   # Alice
```
A dictionary is a data structure comprised of `key:value` pairs. Where the *keys* must be unique and replace the sequential index of lists and tuples. *keys* can be *strings* or *numbers*

In [1]:
my_dict = {'a': 0, 'b':1, 'c': (10,20), 4:['abc',1], '5':True}
print(my_dict)

{'a': 0, 'b': 1, 'c': (10, 20), 4: ['abc', 1], '5': True}

In [2]:
print("a: ", my_dict['a'])

print("b: ", my_dict['b'])

print("c: ", my_dict['c'])

print("4: ", my_dict[4])

print("5: ", my_dict['5'])

a:  0
b:  1
c:  (10, 20)
4:  ['abc', 1]
5:  True

In [3]:
del my_dict['b']
my_dict[6] = 999
my_dict

{'a': 0, 'c': (10, 20), 4: ['abc', 1], '5': True, 6: 999}

# IV. Basic Operations

## A. Arithmetic Operations

Operator |	Name |	Description
-----|------|-----
a + b |	Addition |	Sum of `a` and `b`
a - b	| Subtraction	| Difference of `a` and `b`
a * b	| Multiplication	| Product of `a` and `b`
a / b	| True division	| Quotient of `a` and `b`
a // b	| Floor division	| Quotient of `a` and `b`, removing fractional parts
a % b	| Modulus	| Integer remainder after division of `a` by `b`
a ** b	| Exponentiation	| `a` raised to the power of `b`
-a	| Negation	| The negative of `a`
+a	| Unary plus	| `a` unchanged (rarely used)

In [4]:
5/3

1.6666666666666667

In [6]:
a = 5
b = 3
a/b

1.6666666666666667

In [5]:
5//3 # It gives the quotient of the division, but rounded down to the nearest whole number (integer).

1

In [8]:
5%3 # It gives the remainder after division.

2

In [9]:
4**2

16

In [10]:
4**-2

0.0625

In [11]:
(2+1)*(4-2)

6

See how sequential addition operates on sequential elements (note, some of this is unique to python):

In [12]:
a = [0,1,2]
b = ['a','b','c']
print(a + b)
print(a*2)

[0, 1, 2, 'a', 'b', 'c']
[0, 1, 2, 0, 1, 2]

In [13]:
a = (0,1,2)
b = ('a','b','c')
print(a + b)
print(a*2)

(0, 1, 2, 'a', 'b', 'c')
(0, 1, 2, 0, 1, 2)

In [14]:
a = 'Hello'
b = 'World'
print(a + b)
print(a*2)

HelloWorld
HelloHello

## B. Comparison Operations

Another type of operation which can be very useful is comparison of different values. For this, Python implements standard comparison operators, which return Boolean values `True` and `False`. The comparison operations are listed in the following table:


Operation | Description   
---------|-------
 a == b | a equal to b
a != b | a not equal to b
a < b | a less than b
a > b | a greater than b
a <= b | a less than or equal to b
a >= b | a greater than or equal to b

For example, we can check if a number is odd by checking that the modulus with 2 is different from zero:

In [15]:
# 25 is odd
24 % 2 != 0 % # means “0 is not equal to 0”

False

In [16]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

## Boolean or logical operations

Operator      |Description                                   
----------------------|-----------------
`a and b` | Return `True` when both statements are `True`
 `a or b`  | Return `True` when either `a` or `b` is `True`
 `not a`   | Reverse the result, returns False if `a` is true

In [17]:
x = 10
y = 20

x >= y or x <= 15

True

In [18]:
not x < y #Inside comparison- True, Apply not- not True → False

False